<main class="container">

  <div class="pull-right">
    <p><a class="btn btn-info" ng-click="$ctrl.toggleCreate()">New Post</a></p>
  </div>

  <ul class="nav nav-pills">
  <li role="presentation" class="active">
    <input type="search" ng-model="$ctrl.query" class="form-control input-sm search-form" placeholder="Filter">
  </li>
  <li class="col-xs-2">
    <select class="form-control" ng-model="$ctrl.sortBy">
      <option value="votes">votes</option>
      <option value="time">date</option>
      <option value="title">title</option>
    </select>
  </li>
</ul>

    <div class="row">
      <div class="col-md-8">
        <form name="$ctrl.newPost" ng-show="$ctrl.toggle" novalidate>
          <div class="form-group" ng-class="{ 'has-error': $ctrl.newPost.title.$touched && $ctrl.newPost.title.$invalid}">
            <label class="control-label" for="title">Title</label>
            <input id="title" name="title" class="form-control" ng-model="$ctrl.post.title" required>
          </div>
          <div class="form-group" ng-class="{ 'has-error': $ctrl.newPost.body.$touched && $ctrl.newPost.body.$invalid}">
            <label class="control-label" for="body">Body</label>
            <textarea id="body" name="body" class="form-control" ng-model="$ctrl.post.body" required></textarea>
          </div>
          <div class="form-group" ng-class="{ 'has-error': $ctrl.newPost.author.$touched && $ctrl.newPost.author.$invalid}">
            <label class="control-label" for="author">Author</label>
            <input id="author" name="author" class="form-control" ng-model="$ctrl.post.author" required>
          </div>
          <div class="form-group" ng-class="{ 'has-error': $ctrl.newPost.image-url.$touched && $ctrl.newPost.image-url.$invalid}">
            <label class="control-label" for="image-url">Image URL</label>
            <input id="image-url" name="image-url" class="form-control" ng-model="$ctrl.post.image" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.createNewPost()" ng-disabled="newPost.$invalid">
              Create Post
            </button>
          </div>
        </form>
      </div>
    </div>

    <div ng-repeat="post in $ctrl.posts | filter:$ctrl.query | orderBy:$ctrl.sortBy:true">
      <div class="row">
        <div class="col-md-12">
        <div class="well">
          <div class="media-left">
            <img class="media-object" ng-src="{{post.image}}">
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              {{post.title}}
              |
              <a ng-click="$ctrl.upVoted(post)"><i class="glyphicon glyphicon-arrow-up"></i></a>
              <a ng-click="$ctrl.downVoted(post)"><i class="glyphicon glyphicon-arrow-down"></i></a>
              {{post.votes}}
            </h4>
            <div class="text-right">
              <h4>{{post.author}}</h4>
            </div>
            <p>
              {{post.body}}
            </p>
            <div ng-click="$ctrl.toggleComments(post)">
              <span am-time-ago="{{post.time}}"></span>
              |
              <i class="glyphicon glyphicon-comment"></i>
              <a>
                <ng-pluralize count="post.comments.length"
                              when="{'one': 'one comment',
                                      'other': '{} comments'}">
                </ng-pluralize>
              </a>
            </div>
            <div class="row">
              <div class="col-md-offset-1" ng-show="post.shown">
                <hr>
                <p ng-repeat="comment in post.comments">
                  {{comment}}
                </p>
                <form class="form-inline">
                  <div class="form-group">
                    <input class="form-control" ng-model="post.comment">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="$ctrl.addComment(post)">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
